.header{

    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    
    &__container{
        padding-top: 22px;
        padding-bottom: 21px;
        display: flex;
        align-items: center;
    }

    &__logo{
        flex-shrink: 0;
        text-decoration: none;

        &:hover{
            opacity: 0.6;
        }
    }
  
    &__logo--img{
        flex-shrink: 0;
        display: block;
    }

    &__navbar{
        width: 100%;
        max-width: 940px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 58px;
    }

    &__menu{
        padding: 0;
        margin-left: 0;
        display: none;
    }

    &__list{
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0 -16px;
    }

    &__item{
        margin: 0 16px;
    }

    &__nav--link{
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: $dim_grey;

        &:hover{
            color: $yellow;
        }
    }  
}

.button {
    max-width: 180px;
    width: 100%;
    display: inline-block;
    padding: 14px 39px;
    text-transform: capitalize;
    background-color: $yellow;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    
    &:hover {
        color: $yellow;
        background-color: #FFFFFF;
        box-shadow: 0 0 0 3px $yellow;
    }
}

@media only screen and (max-width: 633px){
    .header{
        position: relative;
        top: 0;
        left: 0;

        
        .header--open .header__menu {
            display: block;
            background-image: url("./../images/burger.svg");
        }

        .header--open .header__burger {
            display: none;
        }

        .header--open &__navbar{
            margin: 0;
            padding-top: 64px;
            margin-bottom: 24px;
            background-color: $footer-color;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            position: absolute;
            top: 100%;
            left: 0;
        }

        .header--open &__list{
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .header--open &__nav--link{
            font-size: 18px;
            line-height: 25px;
            color: $light_grey;
        }

        .header--open &__item:not(:last-child){
            margin-bottom: 24px;
        }


        &__container{
            padding-top: 22px;
            padding-left: 22px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

        .header__menu{
            vertical-align: middle;
            margin-left: 0;
            border: none;
            background-color: #FFFFFF;
            display: inline-block;
        }

        &__logo{
            margin-right: 19px;
            margin: 0 auto;
        }

        &__navbar{
            width: 70vw;
            min-height: 100vh;
            display: none;
        }

        .header__btn{
          margin-bottom: 200px;  
        }
    }
}