.our-services {

        margin-bottom: 266px;
        
        &__list {
            display: flex;
            gap: 30px;
            position: relative;
            
            // &::before {
            //     content: "";
            //     width: 1000px;
            //     height: 15px;
            //     display: block;
            //     background-color: #E5ECF4;
            //     position: absolute;
            //     left: calc(50% - 780px);
            //     top: 12.5%;
            //     z-index: -1;
            // }
        }
        
        &__item  {
            max-width: 360px;
            width: 100%;
            &::after {
                content: "";
                width: 1000px;
                height: 15px;
                display: block;
                background-color: #E5ECF4;
                position: absolute;
                left: calc(50% - 780px);
                top: 12.5%;
                z-index: -1;
            }
            
            &:nth-child(1)::before {
                content: "";
                display: block;
                width: 96px;
                height: 96px;
                background-color: #FCB72B;
                border-radius: 50%;
                background-image: url("./../../images/app-icon.svg");
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 40px;
            }
            
            &:nth-child(2)::before {
                content: "";
                display: block;
                width: 96px;
                height: 96px;
                background-color: #FCB72B;
                border-radius: 50%;
                background-image: url("./../../images/scooter-icon.svg");
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 40px;
            }
            
            &:nth-child(3)::before {
                content: "";
                display: block;
                width: 96px;
                height: 96px;
                background-color: #FCB72B;
                border-radius: 50%;
                background-image: url("./../../images/ride-icon.svg");
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 40px;
            }
        }
        
        
        &__heading {
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07143px;
            color: #495567;
            margin-bottom: 27px;
        }
        
        &__text {
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }

@media only screen and (max-width: 1150px) {
    .our-services {
        
        &__inner-container {
        }
        
        &__container {
            
        }
        
        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
        &__item  {
            max-width: 360px;
            width: 100%;
            position: relative;

            &::after {
                content: "";
                width: 15px;
                height: 400px;
                display: block;
                background-color: #E5ECF4;
                position: absolute;
                left: calc(-39%);
                top: -196.5%;
                z-index: -1;
            }

            &:nth-child(1)::before {
                content: "";
                position: absolute;
                left: calc(50% - 360px);
                top: 3%;
            }
            
            &:nth-child(2)::before {
                content: "";
                position: absolute;
                left: calc(50% - 360px);
                top: 3%;
            }
            
            &:nth-child(3)::before {
                content: "";
                position: absolute;
                left: calc(50% - 360px);
                top: 3%;
            }
        }
        
        &__wrapper {
        }
        
        &__heading {
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07143px;
            color: #495567;
            margin-bottom: 27px;
        }
        
        &__text {
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }
}

@media only screen and (max-width: 780px) {
    .our-services {
        padding-top: 200px;
        &__list {
            &::before {
                display: none;
            } 
            
            &::before {
                content: "";
                transform: rotate(-90deg);
                left: -59.3%;
                top: -100px;
                
            }
        }
        
        &__item  {
            text-align: center;
            display: flex;
            flex-direction: column;

            &::after {
                display: none;
            }
            &:not(:first-child){
                padding-top: 150px;
                text-align: center;
            }

            &:nth-child(1)::before {
                content: "";
                position: absolute;
                left: calc(50% - 50px);
                top: -82%;

            }
            
            &:nth-child(2)::before {
                content: "";
                position: absolute;
                left: calc(50% - 55px);
                top: 3%;
            }
            
            &:nth-child(3)::before {
                content: "";
                position: absolute;
                left: calc(50% - 50px);
                top: 3%;
            }
        }
        
        &__wrapper {
        }
        
        &__heading {
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07143px;
            color: #495567;
            margin-bottom: 27px;
        }
        
        &__text {
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }
}


